body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        315deg,
        #141852 3%,
        #070b34 18%,
        #2b2f77 55%,
        #F26F63 85%,
        #F2A057 98%
    );
    background-size: 400% 400%;
    background-position: 0% 0%;
    transition: background-position 1s ease;
    overflow: hidden;
}

body.animate-sun {
    animation: moveGradientSun 5s forwards;
    color: #333;
}

body.animate-moon {
    animation: moveGradientMoon 5s forwards;
    color: #fff;
}

@keyframes moveGradientSun {
    0% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

@keyframes moveGradientMoon {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

.app-container {
    display: flex;
    gap: 30px;
    width: 80vw;
    max-width: 1200px;
    height: 80vh;
}

.container{
    text-align:center;
    background: rgba(230,230,230,0.5);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(230,230,230,0.25);
    padding:20px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.cycle-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.switch-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    margin: 20px;
}

.switch-wrapper input[type="checkbox"] {
   visibility: hidden;
   display: none;
}

.switch-wrapper *,
.switch-wrapper ::after,
.switch-wrapper ::before {
   box-sizing: border-box;
}

.switch-wrapper .switch {
   --width-of-switch: 3.5em;
   --height-of-switch: 2em;
   --size-of-icon: 1.4em;
   --slider-offset: 0.3em;
   position: relative;
   width: var(--width-of-switch);
   height: var(--height-of-switch);
   display: inline-block;
}

.switch-wrapper .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #f4f4f5;
   transition: .4s;
   border-radius: 30px;
}

.switch-wrapper .slider:before {
   position: absolute;
   content: "";
   height: var(--size-of-icon,1.4em);
   width: var(--size-of-icon,1.4em);
   border-radius: 20px;
   left: var(--slider-offset,0.3em);
   top: 50%;
   transform: translateY(-50%);
   background: linear-gradient(40deg,#ff6761,#ff9894 70%);
   transition: .4s;
}

.switch-wrapper input:checked + .slider {
   background-color: #303136;
}

.switch-wrapper input:checked + .slider:before {
   left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
   background: #303136;
   box-shadow: inset -3px -2px 5px -2px #474bff, inset -10px -4px 0 0 #7a7dff;
}

.progress-container {
    flex: 1;
    min-height: auto;
    padding: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.progress-container h2 {
    margin: 0 0 15px 0;
    font-size: 18px;
}

.progress-container canvas {
    max-width: 100%;
    height: auto;
}

/* Pomodoro*/

#pomodoro-app {
    flex: 3;
}

#pomodoro-container {
    flex: 1;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#timer{
    font-size:80px;
    font-weight: 500;
    transition: all 0.15s ease;
}

#timer.fade {
    opacity: 0;
    transform: scale(1.05);
}

button{
    padding:10px 15px;
    margin:5px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:14px;
}

#play-buttons {
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items: center;
}

#actions {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.btn-playpause {
    position: relative;
    background: #5a5a5a;
    border: 1px solid #3b3b3b;
    color: #fff;
    overflow: hidden;
}

.click-btn {
    position: relative;
    display: flex;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.15s;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-flip {
    box-shadow: 0 4px 0 #313131;
    transition: transform 0.1s, box-shadow 0.1s;
}

.btn-flip:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #313131;
}

.btn-flip.active {
    transform: translateY(2px);
    box-shadow: 0px 2px rgba(0,0,0,0.7);
}

.btn-flip span {
    position: absolute;
    transition: opacity 0.15s, transform 0.15s;
}

.btn-flip .front {
    opacity: 1;
    transform: rotateX(0deg);
}

.btn-flip .back {
    opacity: 0;
    transform: rotateX(90deg);
}

.btn-flip.active .front {
    opacity: 0;
    transform: rotateX(90deg);
}

.btn-flip.active .back {
    opacity: 1;
    transform: rotateX(0deg);
}


.material-symbols-outlined {
    visibility: hidden;
    position: absolute;
    left: calc(90% + 10px);
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined:hover {
    transform: translateY(-50%) scale(1.1);   
}

.mode{
    background: #474747;;
    color:white;
    transition: all 0.2s ease;
}

.mode.active {
  background: #333;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

button:hover{
    opacity:0.8;
}


/* Tasks */
.tasks {
    background: rgba(230,230,230,0.5);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(230,230,230,0.25);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.task-input{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-input input{
    padding: 12px;
    width: 80%;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}

.task-input button{
    background:#4CAF50;
    color:white;
}

#taskList{
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: left;
    max-height: 800px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f100;
}

#taskList li{
    background: rgba(229, 229, 229,0.1);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(230,230,230,0.05);
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

#taskList li.completed{
    opacity: 0.7;
}

#taskList button{
    background:#f44336;
    padding: 5px 8px;
    font-size: 12px;
}

/* Checkbox */

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.checkbox-wrapper .hidden {
   visibility: hidden;
   display: none;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
   box-sizing: border-box;
}

.checkbox-wrapper .item {
   display: inline-flex;
   align-items: center;
}

.checkbox-wrapper .item .checkbox {
   position: relative;
   display: inline-block;
   width: 24px;
   height: 24px;
   margin-right: 10px;
   border: 1px solid #444;
   border-radius: 3px;
   cursor: pointer;
}

.checkbox-wrapper label {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   line-height: 1;
}

.checkbox-wrapper .item .checkbox svg {
   width: 19.200000000000003px;
   position: relative;
   top: 2px;
   transform: scale(0);
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   transition: transform 0.4s ease 0.1s;
}

.checkbox-wrapper .item .checkbox svg polyline {
   stroke-width: 2;
   stroke: #4CAF50;
}

.checkbox-wrapper .item .checkbox:before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -10px 0 0 -10px;
   width: 20px;
   height: 20px;
   border-radius: 100%;
   background: #4CAF50;
   transform: scale(0);
   transition: all 0.3s ease;
}

.checkbox-wrapper .item .checkbox:after {
   content: '';
   position: absolute;
   top: 5px;
   left: 5px;
   width: 2px;
   height: 2px;
   border-radius: 2px;
   box-shadow: 0 -18px 0 #4CAF50, 12px -12px 0 #4CAF50, 18px 0 0 #4CAF50, 12px 12px 0 #4CAF50, 0 18px 0 #4CAF50, -12px 12px 0 #4CAF50, -18px 0 0 #4CAF50, -12px -12px 0 #4CAF50;
   transform: scale(0);
   transition: all 0.6s ease;
}

.checkbox-wrapper .item .checkbox-label {
   position: relative;
   cursor: pointer;
   transition: color 0.3s ease;
}

.checkbox-wrapper .item .checkbox-label:after {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   width: 0;
   height: 1px;
   background: #666;
   transition: width 0.4s ease;
}

.checkbox-wrapper .item input {
   display: none;
}

#taskList li.completed .checkbox {
   border-color: transparent;
}

#taskList li.completed .checkbox svg {
   transform: scale(1);
}

#taskList li.completed .checkbox:before {
   transform: scale(1);
   opacity: 0;
}

#taskList li.completed .checkbox:after {
   transform: scale(1);
   opacity: 0;
}

#taskList li.completed .checkbox-label {
   color: #7d7d7d;
}

#taskList li.completed .checkbox-label:after {
   width: 100%;
}

.delete-btn {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.6;
}
.delete-btn:hover { opacity: 1; }

#taskList { list-style: none; padding: 0; }